# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Virtual environments
.venv/
venv/
ENV/

# Poetry
.poetry/

# Environment files
.env

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# IDE / editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
